<div class="row">
  <div class="h1" style="text-align: center">TemTem</div>
  <hr />
  <div class="col-md-8">
    <h2>Search</h2>
    <input type="text" [(ngModel)]="listFilter" style="margin-bottom: 0.5em" />
  </div>
</div>
<div class="table-responsive">
  <table
    class="table table-hover table-dark table-striped table-bordered"
    *ngIf="temTems.length"
  >
    <thead>
      <tr>
        <th>Portrait</th>
        <th>Number</th>
        <th>Name</th>
        <th>Types</th>
        <th>Trait 1</th>
        <th>Trait 2</th>
        <th>HP</th>
        <th>STA</th>
        <th>SPD</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>SPATK</th>
        <th>SPDEF</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let temTem of temTems">
        <td scope="row">
          <img
            [src]="temTem.portraitWikiUrl"
            alt="TemTem Portrait"
            [style.width.px]="portraitWidth"
            [style.margin.px]="portraitMargin"
          />
        </td>
        <td scope="row"># {{ temTem.number }}</td>
        <td scope="row">{{ temTem.name }}</td>
        <td scope="row">{{ temTem.types }}</td>
        <td scope="row">{{ temTem.traits[0].name }}</td>
        <td scope="row">{{ temTem.traits[1].name }}</td>
        <td scope="row">{{ temTem.stats["hp"] }}</td>
        <td scope="row">{{ temTem.stats["sta"] }}</td>
        <td scope="row">{{ temTem.stats["spd"] }}</td>
        <td scope="row">{{ temTem.stats["atk"] }}</td>
        <td scope="row">{{ temTem.stats["def"] }}</td>
        <td scope="row">{{ temTem.stats["spatk"] }}</td>
        <td scope="row">{{ temTem.stats["spdef"] }}</td>
        <td scope="row">{{ temTem.stats["total"] }}</td>
      </tr>
    </tbody>
  </table>
</div>
